.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.feature {
  transition: transform 0.2s ease;
}

.feature:hover {
  transform: translateY(-2px);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
